body {
    background-color: lightgray;
}

h1 {
     color: rgb(12, 173, 167);
     background-color: white;
     font-family: times new roman;
     font-weight: bold;
}

h3 {
     color: rgb(12, 173, 167);
     background-color: white;
     font-family: times new roman;
     font-weight: bold;
}

img {
    padding-top: 1px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-left: 2px;
}

p {
   font-family: sans-serif;
   font-size: 12
}

.container {
  background-color: white;
}

.navbar {
         padding-left: 50px;
}

.navbar-brand {
               background-color: rgb(12, 173, 167);
               font-family: times new roman;
               font-weight: bold;
               color: white;
}
.first-box {
     widows: 250px; 
     float:left; 
     background: white; 
     height: 450px;
     margin: 20px
}

.second-box {
     widows: 125px; 
     height:450px; 
     float:right; 
     background: white;
     margin: 20px
}